doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="refresh", content="10;url=/login")  // Automatic redirect after 10 seconds
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Signup Successful
    link(rel="stylesheet", href="assests/css/style.css")
    script.
      // Countdown Timer
      let timeLeft = 10;
      const countdownElement = document.getElementById('countdown');

      const countdown = setInterval(() => {
          if (timeLeft <= 0) {
              clearInterval(countdown);
          } else {
              countdownElement.innerHTML = timeLeft + " seconds remaining";
              timeLeft -= 1;
          }
      }, 1000);
  body
    #header

    .card.success-card
      h2 Signup Successful, #{userName}!
      p You will be redirected to the login page in 
        span#countdown 10 seconds.

      // Button to go to Home Page
      a.btn(href="/") Go to Home

    #footer
    script(src="assests/js/Script.js")
