doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title About Us - Personal Budget Plan
    link(rel="stylesheet" href="assests/css/style.css")

  body
    #header

    section#about-sec
      img#aboutus-img(src="./assests/img/aboutus.png" alt="no image")
      //- h1 About Us (commented out)

      p 
        strong Who We Are:
      p We are a team of financial enthusiasts dedicated to helping individuals take control of their personal finances. 
        | Our mission is to provide simple, effective, and personalized budget planning tools that empower users to make informed 
        | financial decisions and achieve their savings goals.

      p 
        strong Our Mission:
      p Our mission is to simplify budgeting for everyone. Whether you are looking to save for a big purchase, 
        | manage your expenses, or reach financial independence, we are here to help you with tailored budgeting strategies 
        | that fit your lifestyle and income.
      //- img#aboutus-img(src="./assests/img/aboutus.png" alt="no image") (commented out)

    #footer

    script(src="assests/js/Script.js")
